<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Gamja+Flower" rel="stylesheet">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1 style="font-family: Gamja Flower;">Welcomes To The Todo Page</h1>
    <a style="font-family: Gamja Flower;" href="/todo"><h3>view list</h3></a>

    <a href="/todo/new"><button type="submit">New Todo</button></a>
</body>
</html>