<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Gamja+Flower" rel="stylesheet">
        <link rel='stylesheet' type='text/css' href='/static/styles/styles.css'>

    <title>home page</title>
</head>
<body>
    <img class="land" src="https://cdn2.iconfinder.com/data/icons/notepad-sketch/100/note_notepad_notebook-37-512.png" alt="landing">
    <h1>To Do list Website</h1>
    <div class="button">
    <a href="/todo/">Do List</a>
</div>
    
</body>
</html>