<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title> EDIT </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="/static/styles/styles.css" />
    <script src="main.js"></script>
</head>
<body>
        <a href="/"> Home</a>
        <a href="/ToDo"> ToDo list Home</a>
      </div>
      <form class="create" action="/ToDo/{{id}}?_method=PUT" method="POST" >
        <label for="name">
          subject: <input type="text" name="subject" id="subject" value="{{subject}}"/>
        </label>
        <label for="type1">
          content: <input type="text" name="content" id="content" value="{{content}}"/>
        </label>
        <button type="submit">Submit Update</button>
        </form>
</body>
</html>