<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Edit list</title>
</head>
<body>
    <h1>Edit new list</h1>
    <form action="/todo/{{id}}?_method=PUT" method="POST">
      <label for="name"> Name<input id="name" name="name" type="text" value ="{{name}}"></label>
      <label for="explanation">  <input id="explanation" type="text" name="explanation" value ="{{explanation}}"></label>
      <button type="submit">Edit list</button>
    </form>
</body>
</html> 