<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel='stylesheet' type='text/css' href='/static/styles/styles.css'>
  <title>All Tasks</title>
</head>
<body>
  <h1>All The Tasks</h1>
  <div class="links">
    <a href="/">Task Home</a>
    <a href="/todo/new">Create a New Task</a>
  </div>

    {{#todo}}
    <a href="/todo/{{id}}">
      <h3>{{task}}</h3>
    </a>

    {{/todo}}
 
</body>
</html>