<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>New Todo</title>
</head>
<body>
  <form action="/todo" method="POST">
    <label for="subject">Subject: <input type="text" name="subject" id="subject"></label>
    <label for="content">Content: <input type="content" name="content" id="content"></label> 
    <button type="submit">Create Todo Item</button>
  </form>
</body>
</html>