<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    {{#todoList}}
    <a href="/"><h3>Back Home</h3></a>
    <h2>{{subject}}</h2>
    <h3>{{content}}</h3>
    <form action="/todo/{{id}}?_method=DELETE" method="post">
    <button type="submit">erser  Todo</button>
    </form>
    <a href="/todo/{{id}}/edit"> <button type="submit">upload new to do</button></a>
    {{/todoList}}
</body>
</html>