<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>todo task</title>
</head>
<body>
    <div>
        <button><a href="/todo">Back to TODO List</a></button>
    </div>
    <div>
        <h1>{{subject}}</h1>
        <p>{{content}}</p>
    </div>
    <form action="/todo/{{id}}?_method=DELETE" method="POST">
        <button type="submit">Done!</button>
    </form>
    <form action="/todo/{{id}}/edit">
        <button type="submit">Edit</button>
    </form>
</body>
</html>