<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>


        <a href="/">
            <br>
            <h2> Back Home</2>
            </br>
        </a>

        {{#todolist}}
        <ul>
            <a href="/todos/{{id}}">
                <li>{{subject}}</li>
                <li>{{content}}</li>
            </a>
        </ul>
        {{/todolist}}

        
<br>
    <a href="/todos/new"> Add new item </a>
    </br>
    
</body>
</html>