<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Gamja+Flower" rel="stylesheet">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <a href="/"><h3 style="font-family: Gamja Flower; color: sienna ">Back Home</h3></a>
    {{#todoList}}
    <ul>
        <a style="font-family: Gamja Flower; color:crimson; " href="/todo/{{id}}"><li>{{subject}}</li></a>
    </ul>
    {{/todoList}}

</body>
</html>