<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    

    {{#todoList}}
    <a href="/">
       <br> 
        <h3> Back Home</h3>
    </br> 
    </a>

    <h2>{{subject}}</h2>
    <h2>{{content}}</h2>
    <form action="/todos/{{id}}?_method=DELETE" method="post">

    <button type="submit">
        Delete Todo
    </button>

    </form>

    <a href="/todos/{{id}}/edit">
         <button type="submit"> Update </button>
        </a>
    {{/todoList}}
    
</body>
</html>